@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.image-hero__container {
  @apply relative w-full grid-cols-1 justify-center md:gap-10 lg:gap-12 bg-center bg-cover bg-no-repeat shadow-md;
  @apply md:gap-52;
  @apply xl:grid-cols-2 xl:gap-[34rem] xl:bg-contain;
}

.image-hero__container.desktop {
  @apply bg-[url("/assets/images/Duo.webp")] bg-cover;
  @apply hidden xl:grid;
}

.image-hero__container.mobile {
  @apply grid md:grid xl:hidden;
}

.image-hero__container.right {
  @apply bg-[url("/assets/images/DuoLeft.webp")] bg-contain;
  background-position: right;
}

.image-hero__container.right .image-hero__container--item > h1,
.image-hero__container.right .image-hero__container--item > p {
  @apply text-left xl:text-center;
}

.image-hero__container.left {
  @apply bg-[url("/assets/images/DuoRight.webp")] bg-contain;
  background-position: left;
}

.image-hero__container.left .image-hero__container--item > h1,
.image-hero__container.left .image-hero__container--item > p {
  @apply text-right xl:text-center;
}

@layer utilities {
  .transition-bg-position {
    transition: background-position 0.8s ease-in-out;
  }
}

.image-hero__container .image-hero__container--item {
  @apply flex flex-col justify-center items-center gap-8;
}

.image-hero__container .image-hero__container--item > h1,
.section h1 {
  @apply text-4xl font-bold text-gray-950 z-10 drop-shadow-sm;
  @apply md:font-semibold md:text-5xl;
  @apply xl:font-semibold;
}

.image-hero__container .image-hero__container--item > p,
.section p {
  @apply text-base font-normal text-gray-500 z-10 drop-shadow-sm;
  @apply md:font-light md:text-xl;
  @apply xl:font-light;
}

.tiktok-embed iframe {
  @apply min-h-[500px];
}
