---
import Button from "../components/button.astro";
import projects from "../collections/projects.json";
import certifications from "../collections/certifications.json";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
import Slider from "../components/home/slider.astro";
---

<Layout title="Brian Dom칤nguez V치zquez">
  <div
    id="SnapMandatory"
    class="h-screen overflow-y-scroll overflow-x-hidden snap-y snap-mandatory scroll-smooth"
  >
    <!-- Hero section -->
    <section
      class="snap-start min-h-screen h-full image-hero__container desktop z-10"
    >
      <div class="image-hero__container--item p-12">
        <h1>UI/UX Design</h1>
        <p>
          Soy un dise침ador de UI/UX apasionado por construir interfaces
          funcionales y visualmente atractivas. Mi portafolio refleja c칩mo
          combino creatividad y estrategia para resolver problemas reales de los
          usuarios.
        </p>
      </div>
      <div class="image-hero__container--item p-12">
        <h1>Web Developer</h1>
        <p>
          Como desarrollador web, traduzco ideas en proyectos tangibles.
          Descubre c칩mo utilizo tecnolog칤as modernas para crear sitios
          din치micos, r치pidos y optimizados para todo dispositivo.
        </p>
      </div>
    </section>

    <section
      class="items-start md:items-center snap-start min-h-screen h-full image-hero__container mobile z-10 right"
    >
      <div class="image-hero__container--item p-12 pr-32 md:pb-36">
        <h1>UI/UX Design</h1>
        <p>
          Soy un dise침ador de UI/UX apasionado por construir interfaces
          funcionales y visualmente atractivas. Mi portafolio refleja c칩mo
          combino creatividad y estrategia para resolver problemas reales de los
          usuarios.
        </p>
      </div>
    </section>

    <section
      class="items-start md:items-center snap-start min-h-screen h-full image-hero__container mobile z-10 left"
    >
      <div class="image-hero__container--item p-12 pl-36 md:pb-36">
        <h1>Web Developer</h1>
        <p>
          Como desarrollador web, traduzco ideas en proyectos tangibles.
          Descubre c칩mo utilizo tecnolog칤as modernas para crear sitios
          din치micos, r치pidos y optimizados para todo dispositivo.
        </p>
      </div>
    </section>

    <!-- Certificaciones -->
    <Slider
      title="Mis certificaciones 游꿉"
      items={certifications}
      bgId="background-blur-certifications"
      type="certifications"
    />

    <!-- Proyectos -->
    <Slider
      title="Algunos de mis 칰ltimos trabajos 游눺"
      items={projects}
      bgId="background-blur-projects"
      type="projects"
    />
  </div>
</Layout>
